<h1 style="color:#647e37; text-align: center">Universidad Castro Carazo</h1>
<h5 style="color:#6e9a81; text-align: center">Analisis de Datos</h5>
<h5 style="color:#6e9a81; text-align: center">Venta de Bienes Raices</h5>
<center/><img src="logo.png"></center>
</br>

<p style="text-align: justify font-family:Taoma">Durante los años 2021 y 2022 la empresa PK2, ha estado analizando
incursionar en la venta de Bienes Rices en los Estados Unidos, siendo que
previo a tomar una decisión respecto a dar inicio con las operaciones de
venta de propiedades se procedió a recopilar información relacionada con
el sector de bienes raíces de USA.
    Como resultado de la recopilación de los datos, PK2 identificó y consolido un
set de datos con 200.000 observaciones, cada una de ellas conformadas por
14 variables, es decir se generó un Data Set de 2.800.000 datos, razón por la
cual se decidido contratar sus servicios para generar el proceso de análisis
en pro de disponer de insumos para el proceso de toma de decisiones.
 </p>

<table>
  <tr>
    <th> <img src="info.png"</th>
    <th>URL del set de datos</th>
    <th> <a href="https://github.com/Jzuniga1986/ProyectoDA/blob/main/dataSet.csv.zip">Enlace al Sitio Web</a></th>
  </tr>

<h2 Style = "color:  #6e9a81 ">1. Carga y estandarizacion de los set de datos</h2>
 
<ul>
<li style="font-family: Tahoma">Instalar e importar las librerias necesarias para trabajar</li>
<li style="font-family: Tahoma">Importar los archivos csv (Set de Datos)</li>
<li style="font-family: Tahoma">Revison de los set de datos (encabezados)</li>
<li style="font-family: Tahoma">Generar un unico set de datos</li>
</ul>
 
<h4 style="color:#6e9a81; font-family: Tahoma"> 1.1) Instalar e importar las librerias necesarias para trabajar </h4>

In [21]:
import numpy as np #esta libreria se usa para trabajar esturcturas de datos (listas, tuplas, diccionarios)
import pandas as pd #esta libreria se usa para el manejo de datos (dataFrame)
import matplotlib as mpl #esta libreria se usa para crear graficos
import matplotlib.pyplot as plt #''  ''
import seaborn as sn #''  ''

<h4 style="color:#6e9a81; font-family: Tahoma"> 1.2) Importar Set de Datos </h4>

In [50]:
dfDataP=pd.read_csv('DataSetP.csv', names=cols, low_memory=False)
print("Se cargaron los datos a la memoria")

Se cargaron los datos a la memoria

<h4 style="color:#6e9a81; font-family: Tahoma"> 1.3) Revisar los Set de Datos </h4>

In [52]:
dfDataP.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [53]:
dfDataP.shape

(997213, 14)

In [54]:
dfDataP.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks',
       'Location'],
      dtype='object')

<h4 style="color:#6e9a81; font-family: Tahoma"> 1.4) Generar un unico Set de Datos</h4>
#on this scenario we don't need to perform this step since we just have one doc with data

<h4 style="color:#79ae92; font-family: Tahoma"> 1.5) Solucionar los primeros errores indentificados </h4>

<table align='left'>
    <tr>
        <td><img src='info.png'></td>
        <td><ol>
            <li>La Columna 1 - un indice(Hay que eliminarla y generar un nuevo indice)</li>
            <li>Los errores de las variables (nombres)</li>
        </td>
    </tr>
</table>

In [55]:
dfDataP.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [56]:
dfDataP.reset_index(drop=True, inplace=True)
dfDataP

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,6/24/2020,New London,4 BISHOP CT,60410,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,4/27/2020,Windsor Locks,19 HATHAWAY ST,121450,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,6/3/2020,Middletown,8 BYSTREK DR,203360,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
dfDataP.rename({'Serial Number':'serial number', 'List Year':'list year', 'Date Recorded':'date recorded', 'Town':'town', 'Address':'address',
       'Assessed Value':'assessed value', 'Sale Amount':'sale amount', 'Sales Ratio':'sales ratio', 'Property Type':'property type',
       'Residential Type':'residential type', 'Non Use Code':'non use code', 'Assessor Remarks':'assessor remarks', 'OPM remarks':'opm remarks',
       'Location':'location'}, axis=1, inplace=True)
dfDataP.columns

Index(['serial number', 'list year', 'date recorded', 'town', 'address',
       'assessed value', 'sale amount', 'sales ratio', 'property type',
       'residential type', 'non use code', 'assessor remarks', 'opm remarks',
       'location'],
      dtype='object')

In [60]:
dfDataP.head(5)

,serial number,list year,date recorded,town,address,assessed value,sale amount,sales ratio,property type,residential type,non use code,assessor remarks,opm remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

<h2 Style = "color:  #6e9a81">2. Manejo de valores faltantes</h2>
 
<ol>
<li>Identificar como se muestran los valores faltantes (NaN, ?, null, EspacioEnBlanco)</li>
<li>Contar la cantidad de valores faltantes en cada una de las caracteristicas</li>
<li>Imputacion simple de valores numericos</li>
<li>Imputacion simple de valores categoricos</li>
<li>Eliminar observaciones o registros</li>
</ol>
 
<h4 style="color:#6e9a81; font-family: Times New Roman">2.1 Identificar como se muestran los valores faltantes</h4>

In [63]:
dfDataP.head(10)

,serial number,list year,date recorded,town,address,assessed value,sale amount,sales ratio,property type,residential type,non use code,assessor remarks,opm remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN
5,200109,2020,12/9/2020,Avon,57 FAR HILLS DRIVE,847520,1250000.0,0.6780,Residential,Single Family,NaN,NaN,NaN,NaN
6,2020180,2020,3/1/2021,Berlin,1539 FARMINGTON AVE,234200,130000.0,1.8015,Residential,Two Family,08 - Part Interest,NaN,NaN,NaN
7,2020313,2020,7/1/2021,Berlin,216 WATCH HILL RD,412000,677500.0,0.6081,Residential,Single Family,NaN,NaN,NaN,NaN
8,200097,2020,6/4/2021,Bethany,23 AMITY RD,511000,795000.0,0.6427,Commercial,NaN,NaN,NaN,NaN,NaN
9,20139,2020,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360,335000.0,0.5115,Residential,Single Family,NaN,NaN,NaN,NaN

In [65]:
dfDataP['residential type'].unique()

array([nan, 'Single Family', 'Condo', 'Two Family', 'Three Family',
       'Four Family'], dtype=object)

In [67]:
dfDataP.replace('nan', np.nan, inplace=True)
dfDataP['residential type'].unique()

array([nan, 'Single Family', 'Condo', 'Two Family', 'Three Family',
       'Four Family'], dtype=object)

<h4 style="color:#6e9a81; font-family: Times New Roman">2.2 Contar los valores faltantes</h4>

In [70]:
dfTemp=dfDataP.isnull()
dfTemp.head(2)

,serial number,list year,date recorded,town,address,assessed value,sale amount,sales ratio,property type,residential type,non use code,assessor remarks,opm remarks,location
0,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,True,True,True,True

In [71]:
for columns in dfTemp.columns.values.tolist():
    print(dfTemp[columns].value_counts())
    print(' ')

serial number
False    997213
Name: count, dtype: int64

list year
False    997213
Name: count, dtype: int64

date recorded
False    997211
True          2
Name: count, dtype: int64

town
False    997213
Name: count, dtype: int64

address
False    997162
True         51
Name: count, dtype: int64

assessed value
False    997213
Name: count, dtype: int64

sale amount
False    997213
Name: count, dtype: int64

sales ratio
False    997213
Name: count, dtype: int64

property type
False    614767
True     382446
Name: count, dtype: int64

residential type
False    608904
True     388309
Name: count, dtype: int64

non use code
True     707532
False    289681
Name: count, dtype: int64

assessor remarks
True     847349
False    149864
Name: count, dtype: int64

opm remarks
True     987279
False      9934
Name: count, dtype: int64

location
True     799516
False    197697
Name: count, dtype: int64

<h4 style="color:#6e9a81; font-family: Times New Roman">2.3 Imputar los valores numericos faltantes</h4>

In [74]:
dfTemp=dfDataP[dfDataP.location.isnull()]
dfTemp.head(5)

,serial number,list year,date recorded,town,address,assessed value,sale amount,sales ratio,property type,residential type,non use code,assessor remarks,opm remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN